.navBar{
  background:var(--gray-700);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.logo{
  margin-right: -2rem;
  width: 7rem;
  height: auto;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
}

.title {
  width: 8rem;
  height: auto;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
}